@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono&display=swap');

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Ubuntu Mono', Arial;
  font-size: 10px;
}